PORT=8000
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
ISSUER_URL=https://custom-oidc-provider.onrender.com
REDIRECT_URI=http://localhost:8000/callback
SESSION_SECRET=a_very_secret_key_change_me
KAFKA_BROKERS=localhost:9092
KAFKA_USERNAME=
KAFKA_PASSWORD=
